@charset "utf-8";

@import "reset";  //重置样式
@import "global";  //全局样式

@g-cl : #3FAFE4;
@g-cl2 : #2174C6;
@g-bgPath : '../img/';


/***************************************************/ 
/* 结构布局样式*/
/* 全局和通用样式*/
.g-doc{background:inherit;}
.g-bd{padding:0.1rem; color: #999;}
.g-bd-1{}

.g-hd {
    height: 44px;
    background-color: @g-cl2;
}
.g-hd .left{
    position: absolute;
    top: 0;
    left:0;
}
.g-hd .right{
    position: absolute;
    top: 0;
    right:0;
}
.g-hd .back{
    width: 44px;
    display: block;
    height: 44px;
    background: url('@{g-bgPath}/back.png') no-repeat 10px center;
    background-size: 25px 20px;
}
.g-hd .center{
    padding: 0 48px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: .2rem;
}
/***************************************************/ 
#index{
    font-size: .12rem;
    color: #fff;
    width: 100%;
    height: 100%;
    background: url('@{g-bgPath}loading.jpg') center no-repeat;
    background-size: cover;
    .logo {
        width: 100%;
        height: 90px;
        background: url('@{g-bgPath}logo.png') bottom center no-repeat;
        background-size: 220px;
        margin-bottom: 20px;
    }
    .text {
        font-size: .14rem;
        text-align: center;
        padding: 0 10px;
        span {
            font-size: .14rem;
            font-weight: bold;
        }
    }
    .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
    p {
        padding-bottom: 10px;
    }
    .view_full {
        padding-top: 20px;
        padding-bottom: 12px;
    }
    button {
        width: 230px;
        margin: 6px;
        font-size: .14rem;
    }
    .login {
        background-color: #fff;
        color: @g-cl;
    }
}

#signin {
    .g-bd {
        padding: .2rem;
    }
    input {
        border: 1px solid #ccc;
    }
    .forgot{
        font-size: .14rem;
        line-height: 50px;
        text-align: right;
    }
}




//皮肤
@import "skin";
// 设备样式
@import "media";  
